/* Style the root pane */
.root {
    -fx-background-color: white; /* Background color */
    -fx-font-family: "Arial"; /* Set the font family */
    -fx-font-size: 14; /* Set the default font size */
    -fx-text-fill: #333333; /* Set default text color */
}

/* Style buttons */
.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-border-radius: 20;
}

/* Style labels */
.label {
    -fx-font-size: 16;
    -fx-text-fill: darkblue;
}



.logo-text {
    -fx-font-family: "Cooper Black"; /* Change to your desired font */
    -fx-font-size: 30;      /* Adjust the size as needed */
    -fx-font-weight: Bold;
    -fx-text-fill: #000000;   /* Change text color if needed */
}

/* styles.css */
.signInForm {
    -fx-margin-top: 100;
    -fx-padding: 180 0; /* Set padding: 0 top/bottom, 30 left/right */
    -fx-border-radius: 40; /* Set border radius */
    -fx-border-color: #63a66d; /* Set border color */
    -fx-border-width: 4; /* Set border width */
}

.signUpForm{
    -fx-margin-top: 100;
    -fx-padding: 90 0; /* Set padding: 0 top/bottom, 30 left/right */
    -fx-border-radius: 40; /* Set border radius */
    -fx-border-color: #63a66d; /* Set border color */
    -fx-border-width: 4; /* Set border width */
}

.text-field {
    -fx-padding: 10 20;
    -fx-border-radius: 20;
}

.sidebar {
    -fx-margin-top: 200;
    -fx-padding: 100 50 100 50; /* top right bottom left */
    -fx-border-radius: 40; /* Set border radius */
    -fx-border-color: #63a66d; /* Set border color */
    -fx-border-width: 4; /* Set border width */
}

.development-label {
    font-size: 24px; /* Set the font size */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center align text */
    color: red; /* Change text color to red */
}

.sideButton {
    -fx-padding: 10 5;
}

.top-section {
    -fx-padding: 30 20 30 20; /* top right bottom left */
    -fx-background-color: #f0f0f0; /* Optional: Add background color */
}

.userImage {
    -fx-border-radius: 40;
}

.ssbox {
    -fx-border-radius: 50;
    -fx-border-color: #919f92; /* Optional: Add border color */
    -fx-border-width: 2; /* Optional: Border width */
    -fx-padding: 10; /* Optional: Inner padding */
    -fx-pref-width: 180; /* Set preferred width */
    -fx-pref-height: 500; /* Set preferred height */
    -fx-background-radius: 50; /* Match border radius for rounded effect */
}

.courseGrid{
    -fx-padding: 60;
    -fx-border-radius: 30;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-pref-width: 400; /* Set preferred width */
    -fx-pref-height: 400;
}

.wholeCourseGrid{
    -fx-padding: 60;
}

.mainImagePad{
    -fx-padding: 0 200 0 0; /* top right bottom left */
}

.buttonMargin{
    -fx-padding: 20 130 0 0; /* top right bottom left */
}

.topPad{
   -fx-padding: 20 0 0 20; /* top right bottom left */
}